@model List<points.ModelViews.BusinessAndAchievements.BusinessAndAchievementCreateModelView>

@{
    ViewData["Title"] = "اضافة اعمال";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>الأعمال</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item "><a asp-controller="TimesOfEvaluationAndPerformances" asp-action="Index">دورة قياس الأداء </a></li>
                    <li class="breadcrumb-item "><a asp-controller="TimesOfEvaluationAndPerformances" asp-action="Departments" asp-route-timesOfEvaluationAndPerformanceId="@ViewBag.timesOfEvaluationAndPerformanceId">الوكالات - الإدارات</a></li>
                    <li class="breadcrumb-item ">
                        <a asp-controller="BusinessAndAchievements" asp-action="Employees"
                           asp-route-departmentId="@ViewBag.departmentId"
                           asp-route-timesOfEvaluationAndPerformanceId="@ViewBag.timesOfEvaluationAndPerformanceId"> الموظفين </a>
                    </li>
                    <li class="breadcrumb-item ">
                        <a asp-controller="BusinessAndAchievements"
                           asp-action="WorksByEmployee" asp-route-employeeId="@ViewBag.employeeId"
                           asp-route-timesOfEvaluationAndPerformanceId="@ViewBag.timesOfEvaluationAndPerformanceId">
                            @ViewBag.employeeName
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        اضافة اعمال
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <form asp-action="Create">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus-circle"></i>
                    اضافة اعمال
                </h3>

            </div>

            <div class="card-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @{ int j = 1;}
                @for (int i = 0; i < ViewBag.countCreate; i++)
                {

                    <h5 class=text-dark><span class="badge-dark badge">  @j</span></h5>
                    <div class="form-group">
                        <input hidden value="@ViewBag.employeeId" asp-for="@Model[i].EmployeeId" class="form-control">
                    </div>
                    <div class="form-group">
                        <input value="@ViewBag.timesOfEvaluationAndPerformanceId" hidden asp-for="@Model[i].TimesOfEvaluationAndPerformanceId" class="form-control">
                    </div>
                    <div class="form-row bg-light">
                        <div class="form-group col-md-9">
                            <label asp-for="@Model[i].TheWork" class="control-label"></label>
                            <input asp-for="@Model[i].TheWork" class="form-control" />
                            <span asp-validation-for="@Model[i].TheWork" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="@Model[i].WorkDate" class="control-label"></label>
                            <input asp-for="@Model[i].WorkDate" id="WorkDate_@i" type="text" class="form-control" />
                            <span asp-validation-for="@Model[i].WorkDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="@Model[i].TheWorkDescription" class="control-label"></label>
                            <textarea asp-for="@Model[i].TheWorkDescription" class="form-control"></textarea>
                            <span asp-validation-for="@Model[i].TheWorkDescription" class="text-danger"></span>
                        </div>

                    </div>
                    <hr class="bg-primary" />
                    j++;
                }



            </div>
            <div class="card-footer">
                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </form>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            @for (int i = 0; i < ViewBag.countCreate; i++)
            {
                 @:$("#WorkDate_@i").datepicker();
            }
           

        });
    </script>
}