@model IEnumerable<points.Models.BusinessAndAchievement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesOfEvaluationAndPerformance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheWorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotesForWorkDelayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuicklyPerformTheTask)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.JopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesOfEvaluationAndPerformance.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheWorkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesForWorkDelayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuicklyPerformTheTask)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
