@model IEnumerable<points.Models.AppUserDepartment>



@{
    ViewData["Title"] = "الوكالات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>الوكالات / الإدارات</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item "><a asp-controller="TimesOfEvaluationAndPerformances" asp-action="Index">دورة قياس الأداء </a></li>
                    <li class="breadcrumb-item active">الوكالات - الإدارات </li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-list-alt"></i>
                الوكالات - الإدارات
            </h3>
         
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tab-content table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Department)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            int i = 1;

                            @foreach (var item in Model)
                            {
                        <tr>
                            <th>@i</th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a asp-action="Employees" asp-controller="BusinessAndAchievements" asp-route-timesOfEvaluationAndPerformanceId="@ViewBag.timesOfEvaluationAndPerformanceId" asp-route-departmentId="@item.DepartmentId" type="button" class="btn btn-success ml-1">
                                        <i class="fas fa-users-cog"></i>
                                    </a>
                                    <a asp-action="ReportByDepartment" 
                                       asp-route-departmentId="@item.DepartmentId" 
                                       asp-route-timeOfId="@ViewBag.timesOfEvaluationAndPerformanceId" 
                                       type="button" class="btn btn-info ml-1">
                                        <i class="fas fa-chart-pie"></i>
                                    </a>
                                </div>

                            </td>
                        
                         
                        </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="3">لاتوجد بيانات</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>

        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
