@model IEnumerable<points.Models.TimesOfEvaluationAndPerformance>

@{
    ViewData["Title"] = "أوقات التقييم والأداء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>أوقات التقييم والأداء</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item active">أوقات التقييم والأداء</li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-calendar-alt"></i>
                أوقات التقييم والأداء
            </h3>
            <a asp-action="Create" class="btn  btn-primary  btn-sm text-white float-left m-0">
                <i class="fas fa-plus-circle"></i>
                اضافة وقت للتقييم والأداء
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tab-content table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FromDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ToDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            int i = 1;

                            @foreach (var item in Model)
                            {
                        <tr>
                            <th>@i</th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToDate)
                            </td>
                            <td>
                                @if (item.Status)
                                {
                                    <span>منشور</span>
                                }
                                else
                                {

                                    <span>مؤرشف</span>

                                }
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a asp-action="Employees" asp-route-id="@item.Id" type="button" class="btn btn-primary ml-1">
                                        <i class="fas fa-users-cog"></i>
                                    </a>

                                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info ml-1">
                                        <i class="fas fa-chart-pie"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-success ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>


                                    <form asp-action="Delete" asp-route-id="@item.Id">
                                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                                            <span>هل تريد الحذف ؟</span>
                                            <button type="submit" class="btn btn-danger">نعم</button>
                                            <a href="#" class="btn btn-primary"
                                               onclick="confirmDelete('@item.Id', false)">لا</a>
                                        </span>
                                        <span id="deleteSpan_@item.Id">
                                            <a href="#" class="btn btn-danger"
                                               onclick="confirmDelete('@item.Id', true)">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </span>
                                    </form>







                                </div>
                            </td>
                        </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="5">لاتوجد بيانات</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>

        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

